{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Faça o seu login</h1>
    {% if form.errors %}
        <p>
            Seu nome de usuário e senha não correspondem.
            Por favor, tente novamente
        </p>
    {% else %}
        <p> Se você não tem uma conta <a href="{% url 'job:register' %}">Criar Conta</a></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'job:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Fazer login"></p>
        </form>
        <p><a class="text-6" href="{% url 'job:password_reset' %}">Esqueceu sua senha?</a></p>
    </div>
{% endblock %}