{% extends "base.html" %}

{% load job_tags %}

{% load social_share %}

{% block content %}
    <p class="date">
        Publicado em {{ opportunity.activate }} by {{ opportunity.author }}
    </p>

    <p class="total_job_registrations">
        {% with job_registrations.count as total_job_registrations %}
            Mais de {{ total_job_registrations }} candidatura{{ total_job_registrations|pluralize }}
        {% endwith %}
    </p>
    <h1>{{ opportunity.title}}</h1>
    <p class="tags">{{ opportunity.tags.all|join:", "}}</p>
    <div class="opportunity">
        <h3>Descrição</h3>
        <div class="descrição">
            {{ opportunity.description|markdown }}
        </div>

        <h3>Salario</h3>
        R$ {{ opportunity.wage}}

        <h3>Regime de Contrato</h3>
        {{ opportunity.hr}}

        <h3>Beneficios</h3>

        {{ opportunity.benefits|markdown}}
    </div>

    {% post_to_facebook object_or_url %}
    {% post_to_linkedin object_or_url %}
    {% post_to_whatsapp object_or_url "Share via WhatsApp" %}

    <div id="subheader-2"></div>
    {% if request.user.is_authenticated %}
        <div class="job_registrations">
            {% if new_registraion and cont == 0 %}
                <h2>Cadastro concluido com sucesso.</h2>
            {% elif cont == 1%}
                <h2>O usuário já possui cadastrado na vaga {{ opportunity.title}}</h2>
            {% else %}
                <h2>Quero me candidatar</h2>
                <form method="post" enctype ="multipart/form-data">
                    {{ registraion_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Cradastre-se"></p>
                </form>
            {% endif %}
        </div>
        <div class="similar">
            <h2>Vagas Similares</h2>
            {% for opportunity in similar_opportunity %}
                <p>
                    <a href="{{ opportunity.get_absolute_url }}">{{ opportunity.title }}</a>
                </p>
            {% empty %}
                Não existe vagas semelhantes
            {% endfor %}
        </div>
    {% else %}
        <p>Faça <a href="{% url 'job:login' %}">Login</a> para se cadastra na vaga</p>
    {% endif %}

{% endblock %}