{% extends "base.html" %}

{% block title %}Favoritos{% endblock %}

{% block content %}
    <h1 class="fav">Favoritos</h1>
        <div class="profile">
            <div class="profile-fav">
                {% for favorites_opportunity in fav %}
                    <a href="{{ favorites_opportunity.get_absolute_url }}">
                        <img class=fav-image src="{{favorites_opportunity.image.url}}" alt="{{ favorites_opportunity.title }}">
                    </a>
                    <p>
                        <a class='fav-title' href="{{ favorites_opportunity.get_absolute_url }}">{{ favorites_opportunity.title }}</a>
                    </p>
                {% empty %}
                    Vazio
                {% endfor %}
            </div>
        </div>
{% endblock %}