{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Opportunitys{% endif %}
{% endblock %}

{% block content %}
  <div id="sidebar">
    <h3>Categorias</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url 'job:opportunity_list' %}">All</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Vagas{% endif %}</h1>
    {% for opportunity in opportunitys %}
      <div class="item">
        <a href="{{ opportunity.get_absolute_url }}">
          <img src="{% if opportunity.image %}{{ opportunity.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </a>
        <a href="{{ opportunity.get_absolute_url }}">{{ opportunity.name }}</a>
        <br>
        {{ opportunity.title }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
