{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My Job{% endblock %}</title>
    <link href="{% static 'css/job.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="{% url 'job:opportunity_list' %}" class="logo">My Job</a>
    </div>
    <div id="subheader">
      <div class="menu">
        {% if request.user.is_authenticated %}
          <ul>
            <li><a class="menu-text" href="{% url 'job:opportunity_list' %}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABcUlEQVR4nO2UOyxEURCGZ0JEgoIohEajVKq2o6HTKTVCSafUUgo7sx6J0NlKKQqdSFQalYRuK4mECOLxyd0cm12LtXYvEvdPprkzc7//nDPniCSqRWt05ONXtEyXGsdqnIjT87Nwp1edU3XIh3EuTt/PwFfoVyMX4IchIhO5KBcvPM2AOhcBvi/rtMkWLershm+X4qTigRuDalyF1e7IBs2FXJYmNbZD7kYyDNcXnmZUjdsA2JQ5GstqsjSosRpq7iXDWH3gxrg6D2GLFwX0w1pQNRaCiUcxJmuFz6rxHODzsfd9sJJncaalWjlT6jx9aediO8todpy7T2enRNE0O9nCNBsjUqsyDKlz/e7tKdEyrWrsvb5udb3PTqro1dyLWKUFRrs6B4WiyECdVfxvdY5khc5iAxPB3VklA29+VBYV+wIjYpZWGDOyRHfcBiJGnlWxsMr8d/vKlBjQ5Ag8GUL+xjXUKh+c7/b9PQOJ/p1eAFaIZfkbiBiLAAAAAElFTkSuQmCC"></a></li>
            <li><a class="menu-text" href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAANUlEQVR4nO3UsQ0AIBDDwHj/ARj3aZiBIOGT0rtKIh2smRvLswGSRPuIaAdIEu0joh0gfWsD3peTeO0VNW0AAAAASUVORK5CYII="></a>
              <ul>
                <li><a class="menu-text-sub" href="{% url 'job:job_search' %}">Achar Vagas</a></li>
                <li><a class="menu-text-sub" href="{% url 'job:edit' %}">Edita Perfil</a></li>
                <li><a class="menu-text-sub" href="{% url 'job:password_change' %}">Edita Senha</a></li>
                <li><a class="menu-text-sub" href="{% url 'job:job_search' %}">Sobre</a></li>
              </ul>
            </li>
            <li><a href="{% url 'job:logout' %}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAlUlEQVR4nO2WsQ3DMAwEnx7BmwWexBN4giAdWWiijGQ3HwgwUqaRoLdiPaBS0gFPPgkMXVEWZI3TPwBE9zEArIYFzkNngXNH8CEDQMnnVQCyEmcEVw3Axsmc7/OdV3uALOeSC/ELQRqaApRA2A+Aonh2PvsHKLJAWoT3a8OkDKIQR7Gph5HJx3GMlYx/spabCmAIDfUBqUv1WnIKKMAAAAAASUVORK5CYII="></a></li>
          </ul>
        {% else %}
          <p><a href="{% url 'job:login' %}">Login</a></p>
        {% endif %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <p>Desenvolvido por Maicon Leandro</p>
    </footer>
  </body>
</html>